@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0; font-size:12px;}
a{text-decoration:none;}
li{list-style:none;}
body{background:#f3f3f3;}
.fLeft{float:left;}
.fRight{float:right;}

.productMainList{width:100%;  overflow:hidden; border-top:1px solid #e4e4e4;}
.productMainList dl{width:100%; overflow:hidden;}
.productMainList dl dt{padding:10px; overflow:hidden;background:#fff; border-bottom:1px solid #e4e4e4; border-top:1px solid #e4e4e4; margin-bottom:10px;}
.picBox{width: 45%;border-radius: 5px;overflow: hidden;height: 110px; position:relative;}
.picBox img{width:100%;}
.commentMainBox{width: 50%; overflow:hidden;}
.commentMainBox .titleBox{width:100%; overflow:hidden;}
.commentMainBox .titleBox h2{color:#505050; font-size:16px;width: 100%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.commentMainBox .starMainBox{width:100%; margin:5px 0; overflow:hidden;}
.commentMainBox .starMainBox span{display:inline-block; vertical-align:middle; color:#f6d415;}
.commentMainBox .starMainBox span img{width:12px;}
.commentMainBox h3{font-weight:normal; color:#7d7d7d; font-size: 14px;margin: 8px 0;}
.commentMainBox p{color:#7e7e7e;}
.commentMainBox p font{color:#fe0000;}
.commentMainBox .timeButtonBox{width:100%; overflow:hidden;margin-top: 12px;}
.timeButtonBox .timeComment{border-bottom:1px solid #dbdbdb;}
.timeButtonBox .timeComment span{display:inline-block; vertical-align:middle; color:#505050;line-height: 24px;}
.timeButtonBox .timeComment span img{width:12px;}
